:root {
    --white: #ffffff;
    --black: #000000;
    --orange: #FE5F2F;
    --bluedark: #112A4A;
    --yellow: hsl(43, 100%, 57%);
}

* {
    color: var(--fontText);
    font-family: Helvetica;
}

h1, h2 {
    color: var(--fontColor);
}

body{
    background-color: var(--bg);
}

ul {
    font-family: helvética;
}


.list {
    list-style: georgian;
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--bluedark);
    --btnBg: var(--bluedark);
    --btnFontColor: var(--yellow);
    --fontText: var(--black);
}

.dark-theme {
    --bg: var(--bluedark);
    --fontColor: var(--yellow);
    --btnBg: var(--orange);
    --btnFontColor: var(--bluedark);
    --fontText: var(--white);
}

.btn {
    position: absolute;
    top: 20px;
    left: 400px;
    height: 50px;
    width: 50px;
    border-radius: 12px;
    background-color: var(--btnBg);
    color: var(--btnFontColor);
    border: none;
}

.btn:focus {outline-style: none;}

.btn-form {
    position: relative;
    background-color: var(--btnBg);
    color: var(--btnFontColor);
    float: left;
    left: 100px;
    height: 30px;
    width: 60px;
    margin-left: 30px;
    border: none;
}

.inputcampos {
    width: 150px;
    color: var(--black);
    padding: 3px;
    outline: none;
}